@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
html,

body {
	margin: 0;
	padding: 0;
	background-image: url(/images/zigzag-bkgrnd.jpg);
	background-color: #03254b;
}
.container {
	max-width: 600px;
	min-width: 250px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}
.header {
	background-color: #03254b;
	border-bottom: none;
	border-top: thick solid #E35423;
	border-right: thick solid #E35423;
	border-left: thick solid #E35423;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.content {
	min-height: 350px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0;
	padding-bottom: 0;
}
.footer {
	margin: 0;
	padding: 0;
	height: 15px;
}
.footer a, .footer p {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    color: black;
}
.margin0auto {
	margin: 0 auto;
	text-align: center;
}
#mainTitle {
	color: #fb7f3a;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-shadow: 1px 1px 2px #e35423;
	margin: 0;
	padding: 0;
	font-size: 38px;
}
#subTitle {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fb7f3a;
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 16px;
}
/* side column */
#sidebar {
	color: #E35423;
	width: 100%;
	float: none;
	border-radius: 0;
	border: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	background-image: none;
	background-color: #E35423;
	height: auto;
}
/* navagation sidebar */
#links {
	width: 90%;
	margin: 0;
	padding: 0;
	text-align: center;
}
#links h3 {
	display: none;
}
#links ul {
	display: inline-block;
	list-style-type: none;
}
#links li {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	margin: 5px;
}
#links ul li a, a:visited {
    display: inline-block;
    text-decoration: none;
}

/* info div inside left sidebar */
#sideinfo {
	display: none;
}


#middle {
	background-color: #03254b;
	padding: 0;
	margin: 0;
	border-right: thick solid #E35423;
	border-top: thin solid #E35423;
	border-bottom: thick solid #E35423;
	border-left: thick solid #E35423;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
section {
	min-width: 0;
	margin-top: 10px;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 10px;
	background: #FFF;
	padding: 8px 15px;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #03254B;
	text-shadow: 1px 1px 1px #FFF;
	border: 0;
	border-radius: 10px;
}
section p {
	padding: 0 10px;
	font-size: 14px;
}
section h1 {
	margin: 2px 0px;
	font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #03254b;
	border-bottom: thin solid #E35423;
}
section h2 {
	margin: 2px 0px;
	font-size: 18px;
	text-decoration: underline;
}
section h3 {
	margin: 2px 0px;
	font-size: 18px;
	font-variant: small-caps;
}
section img {
	margin: 5px;
	border: medium solid #e35423;
	border-radius: 8px;
	background-color: #ffffff;
	display: block;
}
.bootstrap-frm h1 {
	margin: 10px 0;
	padding: 0;
	font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #03254b;
	border-bottom: thin solid #E35423;
}.hide {
	display: none;
}
#hide-in-big-site {
	display: inline;
}